[project]
	description = Evaluador cuantitativo de emociones usando python 3 y librerias
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jarturomartinez
[access "refs/for/refs/*"]
	read = group user/jarturomartinez
	push = group user/jarturomartinez
	label-Code-Review = -2..+2 group user/jarturomartinez
	label-Verified = -1..+1 group user/jarturomartinez
	rebase = group user/jarturomartinez
	removeReviewer = group user/jarturomartinez
	submit = group user/jarturomartinez
[access "refs/heads/*"]
	read = group user/jarturomartinez
	create = group user/jarturomartinez
	push = +force group user/jarturomartinez
	pushMerge = group user/jarturomartinez
[access "refs/tags/*"]
	push = group user/jarturomartinez
	push = +force group user/jarturomartinez
